@model Vidly.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.id</h2>
<h2>@Model.nome</h2>
<h2>@Model.quant</h2>
<h2>@Model.preco</h2>
<h2>@Model.descricao</h2>