@model Vidly.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dados produto</h2>
<hr />

<ul>
    <li>Id: @Model.id</li>
    <li>Nome: @Model.nome</li>
    <li>Quantidade: @Model.quant</li>
    <li>preço: @Model.preco</li>
    <li>Descrição: @Model.descricao</li>
</ul>
