@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dados cliente</h2>
<hr />

<ul>
    <li>Id: @Model.id</li>
    <li>Nome: @Model.nome</li>
    <li>CPF: @Model.cpf</li>
    <li>Endereço: @Model.endereco</li>
    <li>Bairro: @Model.bairro</li>
    <li>Nº Casa: @Model.num_casa</li>
</ul>
