@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.id</h2>
<h2>@Model.nome</h2>
<h2>@Model.cpf</h2>
<h2>@Model.endereco</h2>
<h2>@Model.bairro</h2>
<h2>@Model.num_casa</h2>

