@model Vidly.Models.Pet
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.id</h2>
<h2>@Model.nome</h2>
<h2>@Model.raca</h2>
<h2>@Model.cor</h2>
<h2>@Model.cliente.nome</h2>
<h2>@Model.Especie.nome</h2>

