@model Vidly.Models.Pet
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dados pet</h2>
<hr />

<ul>
    <li>Id: @Model.id</li>
    <li>Nome: @Model.nome</li>
    <li>Raça: @Model.raca</li>
    <li>Cor: @Model.cor</li>
    <li>Cliente: @Model.cliente.nome</li>
    <li>Especie: @Model.Especie.nome</li>
</ul>