@model IEnumerable<Vidly.Models.Pet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Pets</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Raca</th>
                <th>Cliente</th>
                <th>Especie</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model)
            {
                <tr>
                    <td><a href="/Pets/Details/@pet.id">@pet.id</a></td>
                    <td>@Html.ActionLink(@pet.nome, "Details", new { pet.id })</td>
                    <td>@pet.raca</td>
                    <td>@pet.cliente.nome</td>
                    <td>@pet.Especie.nome</td>
                    <td width="5px"><a href="/Pets/edit/@pet.id"><input type="button" value="Editar"></a></td>
                    <td width="5px"><a href="/Pets/delete/@pet.id"><input type="button" value="Remover"></a></td>
                </tr>
            }
        </tbody>
    </table> 
}
else
{
    <p>Não possui nenhum pet cadastrado.</p>
}
@Html.ActionLink("Novo pet", "New", null, new { @class = "btn btn-primary" })
